/* React Markdownã®style */

.markdown {
  @apply break-words leading-relaxed text-gray-800 dark:text-gray-200;
}

.markdown > * + * {
  @apply mb-6 mt-0;
}

.markdown li + li {
  @apply mt-2;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold text-gray-900 dark:text-gray-100;
}

.markdown a {
  @apply font-semibold text-blue-500 hover:underline;
}

.markdown strong a {
  @apply font-bold text-blue-600;
}

.markdown h1 {
  @apply mb-6 mt-8 pb-2 text-4xl font-bold leading-tight text-gray-900 dark:text-gray-100;
}

.markdown h2 {
  @apply mb-6 mt-8 pb-2 text-3xl font-semibold leading-tight text-gray-800 dark:text-gray-200;
}

.markdown h3 {
  @apply mb-6 mt-8 text-2xl font-semibold leading-snug text-gray-700 dark:text-gray-300;
}

.markdown h4 {
  @apply mb-6 mt-8 text-xl font-semibold leading-snug text-gray-700 dark:text-gray-300;
}

.markdown h5 {
  @apply mb-6 mt-8 text-lg font-semibold leading-snug text-gray-600 dark:text-gray-400;
}

.markdown h6 {
  @apply mb-6 mt-8 text-base font-semibold leading-tight text-gray-600 dark:text-gray-400;
}

.markdown blockquote {
  @apply border-l-4 border-blue-500 pl-4 pr-4 text-lg italic text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-800 rounded;
}

.markdown pre {
  @apply rounded bg-gray-100 dark:bg-gray-800 p-4 overflow-x-auto;
}

.markdown pre code {
  @apply block overflow-visible rounded-none bg-transparent p-0 text-gray-800 dark:text-gray-200;
}

.markdown ul {
  @apply list-disc pl-8 text-base;
}

.markdown ol {
  @apply list-decimal pl-8 text-base;
}

.markdown kbd {
  @apply inline-block rounded border px-2 py-1 align-middle font-mono text-xs font-normal shadow bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-gray-100;
}

.markdown table {
  @apply text-base w-full border-collapse overflow-hidden rounded-lg;
}

.markdown th {
  @apply border px-4 py-2 text-left bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-gray-100;
}

.markdown td {
  @apply border px-4 py-2 text-left bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
}

.markdown img {
  @apply mx-auto my-6 max-w-full border rounded-lg shadow-lg;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 dark:bg-gray-800 !important;
}
